{% extends "layout.html" %}
{% block title %}Collection Item | Mini CMS{%endblock %}
{% set back_link = "/collections/" + collection.id %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ item.data[collection.field_map.label] }}</h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Data
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/collections/{{ collection.id }}/{{ item.id }}/edit">Edit<span class="govuk-visually-hidden"> {{ item.display_name }}</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          {% for field in collection.fields if field.type not in ['repeatable'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">{{ field.label }}</dt>
              <dd class="govuk-summary-list__value">{{ item.data[field.id] }}</dd>
            </div>
          {% endfor %}
        </dl>
      </div>
    </div>
    {% for field in collection.fields if field.type in ['repeatable'] %}
      <h2 class="govuk-heading-m">{{ field.label }}</h2>

      {% for item in item.data[field.id] %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ item[field.field_map.label] }} ({{ item[field.field_map.id] }})
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> {{ field.label_single }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          {% for subfield in field.fields %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ subfield.label }}</dt>
            <dd class="govuk-summary-list__value">
              {% set value=item[subfield.id] %}
              {% set field=subfield %}
              {% include "components/item_value.html" with context %}
            </dd>
          </div>
          {% endfor %}
          </dl>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% endblock %}
