{% extends "layout.html" %}
{% block title %}{{ item.data[collection.field_map.label] }} | {{ collection.label }} | Mini CMS{%endblock %}
{% set back_link = "/collections/" + collection.id %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">{{ collection.label }}</span>
    <h1 class="govuk-heading-xl">{{ item.data[collection.field_map.label] }}</h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Data
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/collections/{{ collection.id }}/{{ item.data[collection.field_map.id] }}/edit">Edit<span class="govuk-visually-hidden"> {{ item.data[collection.field_map.label] }}</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          {% for field in collection.fields if field.type not in ['repeatable'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">{{ field.label }}</dt>
              <dd class="govuk-summary-list__value">
                {% if field.type == 'govspeak' %}
                  {{ item.data[field.id] | markdown_to_html | safe }}
                {% else %}
                  {{ item.data[field.id] }}
                {% endif %}
              </dd>
            </div>
          {% endfor %}
        </dl>
      </div>
    </div>
    {% for field in collection.fields if field.type in ['repeatable'] %}
      <h2 class="govuk-heading-m">{{ field.label }}</h2>
      {% set data = item.data %}
      {% include "components/form/repeatable-field.html" %}
    {% endfor %}
  </div>
</div>

{% endblock %}
