{% extends "layout.html" %}
{% block title %}{{ collection.label }} | Mini CMS{% endblock %}
{% set back_link = "/" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ collection.label }}</h1>

    {% if collection.description %}
    <p class="govuk-body">{{ collection.description }}</p>
    {% endif %}

    <h2 class="govuk-heading-l">Items</h2>

    {% if items and items|length > 0 %}
      {% with content_list = [] %}
        {% for item in items %}
          {% set _ = content_list.append({
            'title': item.data[collection.field_map.label],
            'url': '/collections/' + collection.id + '/' + item.data[collection.field_map.id],
            'description': item.data[collection.field_map.id]
          }) %}
        {% endfor %}
        {% include "components/content-list.html" %}
      {% endwith %}
    {% else %}
      <p class="govuk-body">No items found</p>
    {% endif %}
  </div>
</div>

{% endblock %}
