{% extends "layout.html" %}
{% block title %}{{ item.data[collection.field_map.label] }} | {{ collection.label }} | Mini CMS{%endblock %}
{% set back_link = "/collections/" + collection.id %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ item.data[collection.field_map.label] }}</h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Data
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/collections/{{ collection.id }}/{{ item.id }}/edit">Edit<span class="govuk-visually-hidden"> {{ item.display_name }}</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          {% for field in collection.fields if field.type not in ['repeatable'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">{{ field.label }}</dt>
              <dd class="govuk-summary-list__value">{{ item.data[field.id] }}</dd>
            </div>
          {% endfor %}
        </dl>
      </div>
    </div>
    {% for field in collection.fields if field.type in ['repeatable'] %}
      <h2 class="govuk-heading-m">{{ field.label }}</h2>

      {% for repeatable_item in item.data[field.id] %}
        {% set repeatable_item_index = loop.index0 %}
        {% include "components/form/repeatable-field.html" %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% endblock %}
