$govuk-assets-path: "/static/assets/";
$govuk-images-path: "#{$govuk-assets-path}images/";
$govuk-fonts-path: "#{$govuk-assets-path}fonts/";

// Import GOV.UK Frontend
@use "govuk-frontend/dist/govuk" as govuk;

// Import govspeak-visual-editor
@use "govspeak-visual-editor/dist/style";

// Import components
@use "./components/content-list" as *;
