{% extends "layout.html" %} {% block title %}Home | Mini CMS{% endblock %} {%
block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Welcome to Mini CMS!</h1>

    <p class="govuk-body">
      This lightweight, Git-powered CMS makes content management effortless.
      Create, edit, and delete content with ease—no need for complex formats or
      expensive databases. Just simple, streamlined control at your fingertips.
    </p>

    <h2 class="govuk-heading-l">Collections</h2>

    {% with items = [] %}
      {% for item in collections %}
        {% set _ = items.append({
          'title': item.label,
          'url': '/collections/' + item.id,
          'description': item.description
        }) %}
      {% endfor %}
      {% include "components/content-list.html" %}
    {% endwith %}
  </div>
</div>

{% endblock %}
