{% extends "layout.html" %} {% block title %}Collection Item | Mini CMS{%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ item.display_name }}</h1>

    <dl class="govuk-summary-list">
      {% for field in collection.fields if field.type not in ['repeatable'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{ field.label }}</dt>
        <dd class="govuk-summary-list__value">{{ item.data[field.id] }}</dd>
      </div>
      {% endfor %}
    </dl>

    {% for field in collection.fields if field.type in ['repeatable'] %}
    <h2 class="govuk-heading-m">{{ field.label }}</h2>
    {% set data=item.data[field.id] %} {% include "components/table.html" with
    context %} {% endfor %}
  </div>
</div>

{% endblock %}
