{% extends "layout.html" %}
{% block title %}Collection Item | Mini CMS{%endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ item.display_name }}</h1>

    <dl class="govuk-summary-list">
      {% for field in collection.fields if field.type not in ['repeatable'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ field.label }}</dt>
          <dd class="govuk-summary-list__value">{{ item.data[field.id] }}</dd>
        </div>
      {% endfor %}
    </dl>

    {% for field in collection.fields if field.type in ['repeatable'] %}
      <h2 class="govuk-heading-l">{{ field.label }}</h2>

      {% for item in item.data[field.id] %}
      <dl class="govuk-summary-list govuk-summary-list--card">
        {% for subfield in field.fields %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ subfield.label }}</dt>
          <dd class="govuk-summary-list__value">
            {% set value=item[subfield.id] %}
            {% include "components/item_value.html" with context %}
          </dd>
        </div>
        {% endfor %}
      </dl>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% endblock %}
