{% extends "layout.html" %} {% block title %}Collection Item | Mini CMS{%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ item.display_name }}</h1>

    <dl class="govuk-summary-list">
      {% for key, value in item.data.items() %} {% if not value is sequence or
      value is string %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{ key }}</dt>
        <dd class="govuk-summary-list__value">{{ value }}</dd>
      </div>
      {% endif %} {% endfor %}
    </dl>

    {% for key, value in item.data.items() %} {% if value is sequence and value
    is not string %}
    <h2 class="govuk-heading-l">{{ key }}</h2>
    {% set data=value %} {% include "components/table.html" with context %} {%
    endif %} {% endfor %}
  </div>
</div>

{% endblock %}
