<!doctype html>
<html lang="en" class="govuk-template govuk-template--rebranded">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Mini CMS{% endblock %}</title>
    <link
      href="{{ secure_url_for(request, 'static', path='/css/main.css') }}"
      rel="stylesheet"
    />
    <link rel="icon" href="{{ secure_url_for(request, 'static_assets', path='/images/favicon.ico') }}" />
    {% block head %}{% endblock %}
  </head>
  <body class="govuk-template__body">
    {% include "components/header.html" %}

    <div class="govuk-width-container">
      {% if back_link %}
        <a href="{{ back_link }}" class="govuk-back-link">Back</a>
      {% endif %}

      <main class="govuk-main-wrapper" id="main-content">
        {% block content %}{% endblock %}
      </main>
    </div>

    {% include "components/footer.html" %}

    <script src="{{ secure_url_for(request, 'static', path='/js/main.js') }}" defer></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
