{% extends "layout.html" %}
{% block title %}Edit {{ item.data[collection.field_map.label] }} | {{ collection.label }} | Mini CMS{%endblock %}
{% set back_link = "/collections/" + collection.id + "/" + item.id %}

{% block content %}

{% set label = repeatable_field_data[repeatable_field.field_map.label] or "<i>no label set</i>" | safe %}
{% with action="/collections/" + collection.id + "/" + item.id + "/update/fields/" + field_path,
         method="post",
         caption=collection.label,
         label=label,
         heading="Edit " + label,
         fields=repeatable_field.fields,
         data=repeatable_field_data,
         field_path=field_path
%}
  {% include "components/form/form-render.html" %}
{% endwith %}

{% endblock %}