{% extends "layout.html" %}
{% block title %}Edit {{ item.data[collection.field_map.label] }} | {{ collection.label }} | Mini CMS{%endblock %}
{% set back_link = "/collections/" + collection.id + "/" + item.id %}

{% block content %}

{% with action="/collections/" + collection.id + "/" + item.id + "/update",
         method="post",
         caption=collection.label,
         heading="Edit " + item.data[collection.field_map.label],
         fields=collection.fields,
         item=item,
         collection=collection %}
  {% include "components/form/form-render.html" %}
{% endwith %}

{% endblock %}