<form action="{{ action }}" method="{{ method }}">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
      <span class="govuk-caption-l">{{ caption }}</span>
      <h1 class="govuk-fieldset__heading">Edit {{ label }}</h1>
    </legend>
    {% for field in fields %}
      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ field.id }}">
          {{ field.label }}
        </label>
        {% if field.hint %}
          <div id="{{ field.id }}-hint" class="govuk-hint">
            {{ field.hint }}
          </div>
        {% endif %}
        {% if not field.editable and not field.type == "repeatable" %}
          <p
            class="govuk-body govuk-!-margin-top-2 govuk-!-font-weight-bold"
            {% if field.hint %} aria-describedby="{{ field.id }}-hint" {% endif %}>
            {{ data[field.id] }}
          </p>
        {% elif field.type == "text" %}
          <textarea
            class="govuk-textarea"
            id="{{ field.id }}"
            name="{{ field.id }}"
            rows="10"
            {% if field.hint %} aria-describedby="{{ field.id }}-hint" {% endif %}
            {% if field.required %} required {% endif %}
          >{{ data[field.id] }}</textarea>
        {% elif field.type == "date" %}
          <input
            class="govuk-input"
            id="{{ field.id }}"
            name="{{ field.id }}"
            type="date"
            value="{{ data[field.id] }}"
            {% if field.hint %} aria-describedby="{{ field.id }}-hint" {% endif %}
            {% if field.required %} required {% endif %}
          />
        {% elif field.type == "repeatable" %}
          <div class="govuk-!-margin-top-3">
            {% for repeatable_item in data[field.id] %}
              {% set repeatable_item_index = loop.index0 %}
              {% include "components/form/repeatable-field.html" %}
            {% endfor %}
          </div>
        {% else %}
          <input
            class="govuk-input"
            id="{{ field.id }}"
            name="{{ field.id }}"
            type="text"
            value="{{ data[field.id] }}"
            {% if field.hint %} aria-describedby="{{ field.id }}-hint" {% endif %}
            {% if field.required %} required {% endif %}
          />
        {% endif %}
      </div>
    {% endfor %}
  </fieldset>
  <button class="govuk-button" data-module="govuk-button" type="submit">Update {{ label }}</button>
</form>

<div id="content" hidden>
  <p>Hello world, this is the ProseMirror editor.</p>
  <p><a href="example.com">Example link</a></p>
  <p><a href="mailto:someone@example.com">someone@example.com</a></p>
  <h2>This is an H2 heading</h2>
  <h3>This is an H3 heading</h3>
  <ol>
    <li><p>First</p></li>
    <li><p>Second</p></li>
    <li><p>Third</p></li>
  </ol>
  <ul>
    <li><p>One</p></li>
    <li><p>Two</p></li>
    <li><p>Three</p></li>
  </ul>
  <ol class="steps">
    <li><p>Step 1</p></li>
    <li><p>Step 2</p></li>
    <li><p>Step 3</p></li>
  </ol>
  <div class="call-to-action">
    <p>Call to action</p>
  </div>
  <div
    role="note"
    aria-label="Warning"
    class="application-notice help-notice"
  >
    <p>This is a warning callout</p>
  </div>
  <div
    role="note"
    aria-label="Information"
    class="application-notice info-notice"
  >
    <p>This is an information callout</p>
  </div>
  <div class="example">
    <p>
      This is an example callout
      <br /><br />
      That works on multiple lines
    </p>
  </div>
  <div role="address" aria-label="Address" class="address">
    <p>
      HM Revenue and Customs
      <br />
      Bradford
      <br />
      BD98 1YY
    </p>
  </div>
  <div role="contact" aria-label="Contact" class="contact">
    <p>
      This is a contact
      <br />
      Financial Conduct Authority
      <br />
      Telephone: 0800 111 6768
      <br />
      Monday to Friday, 8am to 6pm
    </p>
  </div>
</div>

<div id="editor"></div>
<textarea id="govspeak"></textarea>
