<form action="{{ action }}" method="{{ method }}">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
      <span class="govuk-caption-l">{{ caption }}</span>
      <h1 class="govuk-fieldset__heading">{{ heading }}</h1>
    </legend>
    {% for field in fields %}
      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ field.id }}">
          {{ field.label }}
        </label>
        {% if field.hint %}
          <div id="{{ field.id }}-hint" class="govuk-hint">
            {{ field.hint }}
          </div>
        {% endif %}
        {% if not field.editable and not field.type == "repeatable" %}
          <p
            class="govuk-body govuk-!-margin-top-2 govuk-!-font-weight-bold"
            {% if field.hint %} aria-describedby="{{ field.id }}-hint" {% endif %}>
            {{ data[field.id] }}

            {% if data[field.id] == "" or data[field.id] == null %}
              <span class="govuk-body-s govuk-!-font-weight-normal">
                <i>No value set (default value: {{ field.default_value }})</i>
              </span>
            {% endif %}
          </p>
        {% elif field.type == "govspeak" %}
          {% include "components/form/govuk-visual-editor.html" %}
        {% elif field.type == "text" %}
          <textarea
            class="govuk-textarea"
            id="{{ field.id }}"
            name="{{ field.id }}"
            rows="10"
            {% if field.hint %} aria-describedby="{{ field.id }}-hint" {% endif %}
            {% if field.required %} required {% endif %}
          >{{ data[field.id] }}</textarea>
        {% elif field.type == "date" %}
          <input
            class="govuk-input"
            id="{{ field.id }}"
            name="{{ field.id }}"
            type="date"
            value="{{ data[field.id] }}"
            {% if field.hint %} aria-describedby="{{ field.id }}-hint" {% endif %}
            {% if field.required %} required {% endif %}
          />
        {% elif field.type == "datetime" %}
          <input
            class="govuk-input"
            id="{{ field.id }}"
            name="{{ field.id }}"
            type="datetime"
            value="{{ data[field.id] }}"
          />
        {% elif field.type == "repeatable" %}
          <div class="govuk-!-margin-top-3">
            {% include "components/form/repeatable-field.html" %}
          </div>
        {% elif field.type == "select" %}
          <select class="govuk-select" id="{{ field.id }}" name="{{ field.id }}">
            {% for option in field.options %}
              <option value="{{ option.value }}" {% if option.value == data[field.id] %} selected {% endif %}>
                {{ option.label }}
              </option>
            {% endfor %}
          </select>
        {% else %}
          <input
            class="govuk-input"
            id="{{ field.id }}"
            name="{{ field.id }}"
            type="text"
            value="{{ data[field.id] }}"
            {% if field.hint %} aria-describedby="{{ field.id }}-hint" {% endif %}
            {% if field.required %} required {% endif %}
          />
        {% endif %}
      </div>
    {% endfor %}
  </fieldset>
  <button class="govuk-button" data-module="govuk-button" type="submit">Update {{ label }}</button>
</form>
